<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dante.knowledge"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>


    <application
        android:name=".KnowledgeApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvp.view.ZhihuDetailActivity"
            android:label="@string/activity_news_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:process=":remote"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".mvp.view.DetailActivity"
            android:label="@string/activity_detail"
            android:theme="@style/AppTheme.NoActionBar.Default">
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/action_about"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".mvp.presenter.FetchService"
            android:exported="false">
        </service>

        <activity
            android:name=".test.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvp.view.HDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.Default">
        </activity>

        <!-- umengPush configuration-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${umeng_app_key}">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="${umeng_message_secret}">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID, not used">
        </meta-data>
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

    </application>

</manifest>
